@import './src/vars.scss';
//@import '~bulma/sass/utilities/initial-variables';
@import '~bulma';

.main {
    min-height: 100vh;
}

.page {
    padding:    $slim-pad;
    //noinspection SassScssResolvedByNameOnly
    //margin-top: $navbar-height;
    margin-top: 4.5rem;
}


.message {
    margin: 0.25rem !important;
}

.toast {
    position:                  fixed;
    padding:                   $slim-pad;
    top:                       $slim-pad;
    right:                     $slim-pad;
    max-width:                 50%;
    min-width:                 20%;
    min-height:                3em;
    z-index:                   100;
    animation:                 slidein 500ms 1;
    animation-fill-mode:       both;
    animation-timing-function: ease-in-out;
    background:                lightgoldenrodyellow;

}


@keyframes slidein {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

