@charset "utf-8";

// common variables and imports

@import './vars.scss';
@import '~bulma';


// general styles

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing:  antialiased;
        -moz-osx-font-smoothing: grayscale;
    } @else {
        -webkit-font-smoothing:  subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

body {
    font-family: $font-sans;
    background:  $background;
    @include font-smoothing(on);
}


